<a href="https://colab.research.google.com/github/jenleemcnew/deep-learning-challenge/blob/main/AlphabetSoupCharity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# Load the dataset into a Pandas DataFrame
url = "https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"
df = pd.read_csv(url)

# Display the first few rows to understand the structure of the data
df.head()

# Identify the target and feature variables
# Based on typical charity datasets, the 'IS_SUCCESSFUL' column may be the target (replace if it's different).
target = 'IS_SUCCESSFUL'

# Features will be all columns except 'EIN', 'NAME', and the target column.
features = df.drop(columns=['EIN', 'NAME', target])

# Display the column names for features
print("Feature columns:", features.columns)

# Drop the non-beneficial ID columns 'EIN' and 'NAME' from the original DataFrame
df = df.drop(columns=['EIN', 'NAME'])

# Check the resulting DataFrame after dropping
df.head()

Feature columns: Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT'],
      dtype='object')

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
# Use nunique() to find the number of unique values in each column
unique_values = df.nunique()

# Display the result
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Loop through each column and check for columns with more than 10 unique values
for column in df.columns:
    if df[column].nunique() > 10:
        # Print the column name
        print(f"\nColumn: {column} (Unique Values: {df[column].nunique()})")
        # Display the number of data points for each unique value
        print(df[column].value_counts())

Column: APPLICATION_TYPE (Unique Values: 17)
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

Column: CLASSIFICATION (Unique Values: 71)
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

Column: ASK_AMT (Unique Values: 8747)
ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [7]:
# Check the value counts for the 'APPLICATION_TYPE' column
app_type_counts = df['APPLICATION_TYPE'].value_counts()

# Display the value counts
print(app_type_counts)

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# # Replace application types that appear less than a threshold "Other"
threshold = 500
application_types_to_replace = app_type_counts[app_type_counts < threshold].index

# Replace the application types with "Other"
df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(application_types_to_replace, 'Other')

# Verify the replacement
print(df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Check the value counts for the 'CLASSIFICATION' column
classification_counts = df['CLASSIFICATION'].value_counts()

# Display the value counts
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# Get the value counts for the 'CLASSIFICATION' column
classification_counts = df['CLASSIFICATION'].value_counts()

# Filter and display only the classifications with more than 1 occurrence
classifications_greater_than_one = classification_counts[classification_counts > 1]

# Display the result
print(classifications_greater_than_one)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Set a cutoff value for classification frequencies (e.g., 1000, but you can adjust this)
cutoff_value = 1000

# Get the value counts for the 'CLASSIFICATION' column
classification_counts = df['CLASSIFICATION'].value_counts()

# Create a list of classifications that occur less than the cutoff value
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Print the list of classifications to be replaced
print("Classifications to be replaced:", classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

Classifications to be replaced: ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Convert categorical columns to numeric using pd.get_dummies()
df_encoded = pd.get_dummies(df, drop_first=True)

# Display the first few rows of the encoded DataFrame to verify the changes
print(df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  \
0       1     5000              1                  True                 False
1       1   108590              1                 False                 False
2       1     5000              0                 False                 False
3       1     6692              1                 False                 False
4       1   142590              1                 False                 False

   APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  \
0                False                False                False
1                 True                False                False
2                False                False                 True
3                 True                False                False
4                 True                False                False

   APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  ORGANIZATION_Trust  \
0                False                False  ...               False
1                False                False  ...               False
2                False                False  ...               False
3                False                False  ...                True
4                False                False  ...                True

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0            False              False                     False
1            False              False                     False
2            False              False                     False
3            False              False                     False
4            False              False                     False

[5 rows x 102 columns]

In [14]:
# Split our preprocessed data into our features and target arrays
# Define the target variable (assuming the target column is 'IS_SUCCESSFUL')
y = df_encoded['IS_SUCCESSFUL']

# Define the feature variables (drop the target column from the DataFrame)
X = df_encoded.drop(columns=['IS_SUCCESSFUL'])

# Verify the shapes of the feature and target arrays
print(f"Features shape: {X.shape}")
print(f"Target shape: {y.shape}")


# Split the preprocessed data into a training and testing dataset
# Import the necessary function
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
# You can adjust the test_size parameter to control the proportion of the dataset used for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verify the sizes of the splits
print(f"Training set shape: X_train: {X_train.shape}, y_train: {y_train.shape}")
print(f"Testing set shape: X_test: {X_test.shape}, y_test: {y_test.shape}")

Features shape: (34299, 101)
Target shape: (34299,)
Training set shape: X_train: (27439, 101), y_train: (27439,)
Testing set shape: X_test: (6860, 101), y_test: (6860,)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Check the first few rows of the scaled training data
print(X_train_scaled[:5])

[[ 0.01350021 -0.03115182 -0.12527962 -0.17944646  0.51907853 -0.21911203
  -0.18792753 -0.19092108 -0.14669078 -0.14746666 -0.04399199  0.92492753
  -0.02896422 -0.01207473 -0.01909392 -1.00933693  2.48241006 -0.0330837
  -0.00853781 -0.01811375  0.         -0.0170775  -0.0170775  -0.03196072
  -0.00603704 -0.00853781 -0.00603704 -0.01811375 -0.00853781 -0.01045683
  -0.01045683 -0.00853781 -0.05800148 -0.0170775  -0.03961783 -0.00603704
  -0.04186168 -0.00603704 -0.030797   -0.02002623 -0.00603704 -0.00603704
  -0.01207473 -0.09133405 -0.01350021 -0.00603704 -0.00603704 -0.02002623
  -0.00603704  0.         -0.46452418 -0.24401553 -0.00603704 -0.00603704
   0.         -0.02958772 -0.00603704 -0.01207473 -0.00603704 -0.00603704
  -0.00603704  0.         -0.05200177 -0.01045683 -0.05339263 -0.24552095
  -0.00853781  0.         -0.07561644 -0.01350021 -0.00603704 -0.00603704
  -0.00603704 -0.0540748   0.         -0.02002623  0.         -0.1525469
  -0.04602453 -0.02338731 -0.02896422 -0.01478901 -0.02259387 -0.01909392
   0.         -0.06599836 -0.00853781  0.4707167  -0.44526614 -0.11991987
  -0.03416994  0.67719293 -0.14887949 -0.1270683  -0.32689081 -0.08372388
  -0.17037257 -0.35069127 -0.06459105 -0.07135527 -0.02832705]
 [ 0.01350021 -0.03115182 -0.12527962 -0.17944646  0.51907853 -0.21911203
  -0.18792753 -0.19092108 -0.14669078 -0.14746666 -0.04399199  0.92492753
  -0.02896422 -0.01207473 -0.01909392  0.99074944 -0.40283433 -0.0330837
  -0.00853781 -0.01811375  0.         -0.0170775  -0.0170775  -0.03196072
  -0.00603704 -0.00853781 -0.00603704 -0.01811375 -0.00853781 -0.01045683
  -0.01045683 -0.00853781 -0.05800148 -0.0170775  -0.03961783 -0.00603704
  -0.04186168 -0.00603704 -0.030797   -0.02002623 -0.00603704 -0.00603704
  -0.01207473 -0.09133405 -0.01350021 -0.00603704 -0.00603704 -0.02002623
  -0.00603704  0.         -0.46452418 -0.24401553 -0.00603704 -0.00603704
   0.         -0.02958772 -0.00603704 -0.01207473 -0.00603704 -0.00603704
  -0.00603704  0.         -0.05200177 -0.01045683 -0.05339263 -0.24552095
  -0.00853781  0.         -0.07561644 -0.01350021 -0.00603704 -0.00603704
  -0.00603704 -0.0540748   0.         -0.02002623  0.         -0.1525469
  -0.04602453 -0.02338731 -0.02896422 -0.01478901 -0.02259387 -0.01909392
   0.         -0.06599836 -0.00853781  0.4707167  -0.44526614 -0.11991987
  -0.03416994  0.67719293 -0.14887949 -0.1270683  -0.32689081 -0.08372388
  -0.17037257 -0.35069127 -0.06459105 -0.07135527 -0.02832705]
 [ 0.01350021 -0.03115182 -0.12527962 -0.17944646  0.51907853 -0.21911203
  -0.18792753 -0.19092108 -0.14669078 -0.14746666 -0.04399199 -1.08116578
  -0.02896422 -0.01207473 -0.01909392  0.99074944 -0.40283433 -0.0330837
  -0.00853781 -0.01811375  0.         -0.0170775  -0.0170775  -0.03196072
  -0.00603704 -0.00853781 -0.00603704 -0.01811375 -0.00853781 -0.01045683
  -0.01045683 -0.00853781 -0.05800148 -0.0170775  -0.03961783 -0.00603704
  -0.04186168 -0.00603704 -0.030797   -0.02002623 -0.00603704 -0.00603704
  -0.01207473 -0.09133405 -0.01350021 -0.00603704 -0.00603704 -0.02002623
  -0.00603704  0.         -0.46452418 -0.24401553 -0.00603704 -0.00603704
   0.         -0.02958772 -0.00603704 -0.01207473 -0.00603704 -0.00603704
  -0.00603704  0.         -0.05200177 -0.01045683 -0.05339263 -0.24552095
  -0.00853781  0.         -0.07561644 -0.01350021 -0.00603704 -0.00603704
  -0.00603704 -0.0540748   0.         -0.02002623  0.         -0.1525469
  -0.04602453 -0.02338731 -0.02896422 -0.01478901 -0.02259387 -0.01909392
   0.         -0.06599836 -0.00853781  0.4707167  -0.44526614 -0.11991987
  -0.03416994  0.67719293 -0.14887949 -0.1270683  -0.32689081 -0.08372388
  -0.17037257 -0.35069127 -0.06459105 -0.07135527 -0.02832705]
 [ 0.01350021 -0.03115182 -0.12527962 -0.17944646  0.51907853 -0.21911203
  -0.18792753 -0.19092108 -0.14669078 -0.14746666 -0.04399199  0.92492753
  -0.02896422 -0.01207473 -0.01909392  0.99074944 -0.40283433 -0.0330837
  -0.00853781 -0.01811375  0.         -0.0170775  -0.0170775  -0.03196072
  -0.00603704 -0.00853781 -0.00603704 -0.01811375 -0.00853781 -0.01045683
  -0.01045683 -0.00853781 -0.05800148 -0.0170775  -0.03961783 -0.00603704
  -0.04186168 -0.00603704 -0.030797   -0.02002623 -0.00603704 -0.00603704
  -0.01207473 -0.09133405 -0.01350021 -0.00603704 -0.00603704 -0.02002623
  -0.00603704  0.         -0.46452418 -0.24401553 -0.00603704 -0.00603704
   0.         -0.02958772 -0.00603704 -0.01207473 -0.00603704 -0.00603704
  -0.00603704  0.         -0.05200177 -0.01045683 -0.05339263 -0.24552095
  -0.00853781  0.         -0.07561644 -0.01350021 -0.00603704 -0.00603704
  -0.00603704 -0.0540748   0.         -0.02002623  0.         -0.1525469
  -0.04602453 -0.02338731 -0.02896422 -0.01478901 -0.02259387 -0.01909392
   0.         -0.06599836 -0.00853781  0.4707167  -0.44526614 -0.11991987
  -0.03416994  0.67719293 -0.14887949 -0.1270683  -0.32689081 -0.08372388
  -0.17037257 -0.35069127 -0.06459105 -0.07135527 -0.02832705]
 [ 0.01350021 -0.03115182 -0.12527962 -0.17944646 -1.92649079  4.56387531
  -0.18792753 -0.19092108 -0.14669078 -0.14746666 -0.04399199 -1.08116578
  -0.02896422 -0.01207473 -0.01909392 -1.00933693 -0.40283433 -0.0330837
  -0.00853781 -0.01811375  0.         -0.0170775  -0.0170775  -0.03196072
  -0.00603704 -0.00853781 -0.00603704 -0.01811375 -0.00853781 -0.01045683
  -0.01045683 -0.00853781 -0.05800148 -0.0170775  -0.03961783 -0.00603704
  -0.04186168 -0.00603704 -0.030797   -0.02002623 -0.00603704 -0.00603704
  -0.01207473 -0.09133405 -0.01350021 -0.00603704 -0.00603704 -0.02002623
  -0.00603704  0.         -0.46452418 -0.24401553 -0.00603704 -0.00603704
   0.         -0.02958772 -0.00603704 -0.01207473 -0.00603704 -0.00603704
  -0.00603704  0.         -0.05200177 -0.01045683 -0.05339263  4.0729722
  -0.00853781  0.         -0.07561644 -0.01350021 -0.00603704 -0.00603704
  -0.00603704 -0.0540748   0.         -0.02002623  0.         -0.1525469
  -0.04602453 -0.02338731 -0.02896422 -0.01478901 -0.02259387 -0.01909392
   0.         -0.06599836 -0.00853781 -2.12442005  2.24584786 -0.11991987
  -0.03416994 -1.47668406 -0.14887949 -0.1270683  -0.32689081 -0.08372388
  -0.17037257 -0.35069127 -0.06459105 -0.07135527 -0.02832705]]

## Compile, Train and Evaluate the Model

In [16]:
# Import necessary TensorFlow libraries
import tensorflow as tf

# Define the number of input features (based on your feature set)
input_features = X_train_scaled.shape[1]  # Number of features (columns) in X_train

# Initialize a Sequential model
nn = tf.keras.models.Sequential()

# Add input layer and first hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Add a second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Add the output layer (for binary classification, a single output neuron with 'sigmoid' activation)
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Summarize the model architecture
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             8,160

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 10,621 (41.49 KB)

 Trainable params: 10,621 (41.49 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

# Print a summary to confirm the compilation
nn.summary()

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             8,160

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 10,621 (41.49 KB)

 Trainable params: 10,621 (41.49 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:

# Train the model
history = nn.fit(X_train_scaled, y_train,
                 epochs=50,  # You can adjust the number of epochs
                 batch_size=32,  # You can adjust the batch size
                 validation_data=(X_test_scaled, y_test))

Epoch 1/50
858/858  2s 2ms/step - accuracy: 0.7442 - loss: 0.5292 - val_accuracy: 0.7290 - val_loss: 0.5580
Epoch 2/50
858/858  1s 2ms/step - accuracy: 0.7376 - loss: 0.5367 - val_accuracy: 0.7297 - val_loss: 0.5551
Epoch 3/50
858/858  2s 2ms/step - accuracy: 0.7429 - loss: 0.5286 - val_accuracy: 0.7286 - val_loss: 0.5560
Epoch 4/50
858/858  2s 2ms/step - accuracy: 0.7337 - loss: 0.5382 - val_accuracy: 0.7309 - val_loss: 0.5548
Epoch 5/50
858/858  3s 2ms/step - accuracy: 0.7472 - loss: 0.5272 - val_accuracy: 0.7308 - val_loss: 0.5558
Epoch 6/50
858/858  1s 2ms/step - accuracy: 0.7461 - loss: 0.5264 - val_accuracy: 0.7274 - val_loss: 0.5586
Epoch 7/50
858/858  3s 2ms/step - accuracy: 0.7414 - loss: 0.5346 - val_accuracy: 0.7294 - val_loss: 0.5557
Epoch 8/50
858/858  3s 2ms/step - accuracy: 0.7410 - loss: 0.5302 - val_accuracy: 0.7290 - val_loss: 0.5569
Epoch 9/50
858/858  2s 2ms/step - accuracy: 0.7398 - loss: 0.5350 - val_accuracy: 0.7303 - val_loss: 0.5585
Epoch 10/50
858/858  2s 2ms/step - accuracy: 0.7416 - loss: 0.5309 - val_accuracy: 0.7308 - val_loss: 0.5588
Epoch 11/50
858/858  3s 2ms/step - accuracy: 0.7449 - loss: 0.5271 - val_accuracy: 0.7308 - val_loss: 0.5599
Epoch 12/50
858/858  2s 2ms/step - accuracy: 0.7397 - loss: 0.5306 - val_accuracy: 0.7305 - val_loss: 0.5567
Epoch 13/50
858/858  2s 2ms/step - accuracy: 0.7461 - loss: 0.5258 - val_accuracy: 0.7305 - val_loss: 0.5569
Epoch 14/50
858/858  3s 2ms/step - accuracy: 0.7379 - loss: 0.5347 - val_accuracy: 0.7303 - val_loss: 0.5567
Epoch 15/50
858/858  2s 2ms/step - accuracy: 0.7400 - loss: 0.5335 - val_accuracy: 0.7294 - val_loss: 0.5587
Epoch 16/50
858/858  4s 3ms/step - accuracy: 0.7433 - loss: 0.5294 - val_accuracy: 0.7316 - val_loss: 0.5561
Epoch 17/50
858/858  2s 2ms/step - accuracy: 0.7405 - loss: 0.5331 - val_accuracy: 0.7297 - val_loss: 0.5588
Epoch 18/50
858/858  2s 2ms/step - accuracy: 0.7422 - loss: 0.5288 - val_accuracy: 0.7296 - val_loss: 0.5570
Epoch 19/50
858/858  2s 2ms/step - accuracy: 0.7439 - loss: 0.5287 - val_accuracy: 0.7278 - val_loss: 0.5595
Epoch 20/50
858/858  1s 2ms/step - accuracy: 0.7442 - loss: 0.5288 - val_accuracy: 0.7286 - val_loss: 0.5587
Epoch 21/50
858/858  3s 2ms/step - accuracy: 0.7404 - loss: 0.5317 - val_accuracy: 0.7297 - val_loss: 0.5594
Epoch 22/50
858/858  2s 2ms/step - accuracy: 0.7428 - loss: 0.5283 - val_accuracy: 0.7283 - val_loss: 0.5583
Epoch 23/50
858/858  3s 2ms/step - accuracy: 0.7424 - loss: 0.5298 - val_accuracy: 0.7303 - val_loss: 0.5605
Epoch 24/50
858/858  2s 2ms/step - accuracy: 0.7453 - loss: 0.5265 - val_accuracy: 0.7318 - val_loss: 0.5578
Epoch 25/50
858/858  3s 2ms/step - accuracy: 0.7429 - loss: 0.5300 - val_accuracy: 0.7309 - val_loss: 0.5592
Epoch 26/50
858/858  1s 2ms/step - accuracy: 0.7441 - loss: 0.5267 - val_accuracy: 0.7277 - val_loss: 0.5602
Epoch 27/50
858/858  3s 2ms/step - accuracy: 0.7457 - loss: 0.5263 - val_accuracy: 0.7310 - val_loss: 0.5613
Epoch 28/50
858/858  4s 3ms/step - accuracy: 0.7445 - loss: 0.5268 - val_accuracy: 0.7305 - val_loss: 0.5595
Epoch 29/50
858/858  4s 2ms/step - accuracy: 0.7420 - loss: 0.5295 - val_accuracy: 0.7305 - val_loss: 0.5619
Epoch 30/50
858/858  2s 2ms/step - accuracy: 0.7394 - loss: 0.5337 - val_accuracy: 0.7303 - val_loss: 0.5613
Epoch 31/50
858/858  2s 2ms/step - accuracy: 0.7397 - loss: 0.5314 - val_accuracy: 0.7302 - val_loss: 0.5622
Epoch 32/50
858/858  2s 2ms/step - accuracy: 0.7409 - loss: 0.5286 - val_accuracy: 0.7274 - val_loss: 0.5618
Epoch 33/50
858/858  4s 3ms/step - accuracy: 0.7420 - loss: 0.5308 - val_accuracy: 0.7303 - val_loss: 0.5633
Epoch 34/50
858/858  4s 2ms/step - accuracy: 0.7414 - loss: 0.5306 - val_accuracy: 0.7290 - val_loss: 0.5633
Epoch 35/50
858/858  2s 2ms/step - accuracy: 0.7413 - loss: 0.5331 - val_accuracy: 0.7289 - val_loss: 0.5637
Epoch 36/50
858/858  3s 2ms/step - accuracy: 0.7438 - loss: 0.5302 - val_accuracy: 0.7299 - val_loss: 0.5622
Epoch 37/50
858/858  2s 2ms/step - accuracy: 0.7401 - loss: 0.5343 - val_accuracy: 0.7303 - val_loss: 0.5644
Epoch 38/50
858/858  2s 2ms/step - accuracy: 0.7489 - loss: 0.5231 - val_accuracy: 0.7287 - val_loss: 0.5669
Epoch 39/50
858/858  2s 2ms/step - accuracy: 0.7440 - loss: 0.5268 - val_accuracy: 0.7299 - val_loss: 0.5635
Epoch 40/50
858/858  3s 2ms/step - accuracy: 0.7429 - loss: 0.5276 - val_accuracy: 0.7300 - val_loss: 0.5659
Epoch 41/50
858/858  1s 2ms/step - accuracy: 0.7385 - loss: 0.5319 - val_accuracy: 0.7303 - val_loss: 0.5627
Epoch 42/50
858/858  3s 2ms/step - accuracy: 0.7455 - loss: 0.5257 - val_accuracy: 0.7308 - val_loss: 0.5652
Epoch 43/50
858/858  4s 3ms/step - accuracy: 0.7408 - loss: 0.5300 - val_accuracy: 0.7267 - val_loss: 0.5668
Epoch 44/50
858/858  4s 2ms/step - accuracy: 0.7415 - loss: 0.5302 - val_accuracy: 0.7297 - val_loss: 0.5686
Epoch 45/50
858/858  2s 2ms/step - accuracy: 0.7457 - loss: 0.5281 - val_accuracy: 0.7299 - val_loss: 0.5628
Epoch 46/50
858/858  3s 2ms/step - accuracy: 0.7417 - loss: 0.5303 - val_accuracy: 0.7300 - val_loss: 0.5661
Epoch 47/50
858/858  2s 2ms/step - accuracy: 0.7418 - loss: 0.5302 - val_accuracy: 0.7308 - val_loss: 0.5649
Epoch 48/50
858/858  3s 2ms/step - accuracy: 0.7403 - loss: 0.5285 - val_accuracy: 0.7309 - val_loss: 0.5639
Epoch 49/50
858/858  2s 2ms/step - accuracy: 0.7425 - loss: 0.5298 - val_accuracy: 0.7309 - val_loss: 0.5645
Epoch 50/50
858/858  3s 2ms/step - accuracy: 0.7420 - loss: 0.5279 - val_accuracy: 0.7293 - val_loss: 0.5640

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7293 - loss: 0.5640
Loss: 0.5640101432800293, Accuracy: 0.729300320148468

In [22]:
# Save the model to an HDF5 file named 'AlphabetSoupCharity.h5'
nn.save("AlphabetSoupCharity.h5")

# Confirm the model has been saved
print("Model saved as 'AlphabetSoupCharity.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved as 'AlphabetSoupCharity.h5'